{% load i18n widget_tweaks %}
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      {% block extra_head_files %} {% endblock %}
  </head>
  <body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Graficas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Graficas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'graficas_grafana'%}">Graficas Grafana</a>
            <a class="dropdown-item" href="{% url 'graficas_plotly'%}">Graficas Plotly</a>
            <a class="dropdown-item" href="{% url 'graficas_google'%}">Graficas Google</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-3 my-lg-0" id="form-tiempo" method="post">{% csrf_token %}
     <label style="color: white">{{ form.tiempo.label }}</label>
            {% render_field form.tiempo class="form-control col-3" data-rule-required="true" %} {{ form.tiempo.errors }}

        <label style="color: white">{{ form.rango.label }}</label>
            {% render_field form.rango class="form-control col-3" data-rule-required="true" %} {{ form.tiempo.errors }}
        <label style="color: white">{{ form.empresa.label }}</label>
        {% render_field form.empresa class="form-control col-2" data-rule-required="true" %} {{ form.empresa.errors }}

    </form>
  </div>
</nav>
{% block body %}
  {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  {% block scripts %}
  {% endblock %}
</html>